/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hero {
    height: 200px;
    width: 100%;
    background-image: url("../img/codingImg.jpeg");
    background-position: center;
    background-size: fill;
    text-align: center;
    color: #333;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
}

.sidenav {
    height: 50%; 
    width: 200px; 
    position: fixed; 
    z-index: 0; 
    top: 200px; 
    left: 0;
    overflow: hidden; 
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #333;
}

.main {
    margin-left: 200px; 
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    height: 100px;
    width: 300px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    
}

.card div {
    padding: 20px;
    text-align: center;
    font-size: 24px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 2px 16px;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif;
}

.projects {
    padding: 15px;
}

.projects h1 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.projects div ul li {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

.projects div ul li a{
    text-decoration: underline;
}

.resource-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #fff;
}

.resource-form form input {
    width: 60%;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    opacity: .8;
}

.resource-form form select {
    width: 30%;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

#resource-submit{
    width: 20%;
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
    
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
.modal-content {
    background-image: url('../img/notebook.jpeg');
    background-size: cover;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 40%; 
    border-radius: 5px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}
  
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}